<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pepa" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pepa" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuildActivity"
            android:label="Build">
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:label="Contacts">
        </activity>
        <activity
            android:name=".Contact"
            android:label="Contact">
        </activity>
        <activity
            android:name=".addContact"
            android:label="addContact">
        </activity>
        <activity
            android:name=".findContact"
            android:label="findContact">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>